*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    background-color: #c57c2a;
    background-size: cover;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #dda15e;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.profile_img { 
    width: 100px;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}
h1,
h2 {
    color: #283618;
}
.header {
    text-align: center;
}
.header h1 {
    margin: 10px 0;
}
.contact {
    margin: 10px 0;
    font-size: 14px;
}
.contact a {
    color: #606C38;
    text-decoration: none;
}
.contact a:hover {
    color: black;
}
.section {
    margin: 20px 0;
}
.section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #283618;
    padding-bottom: 5px;
}
.item {
    margin-bottom: 15px;
}
.item h3 {
    margin: 0;
    font-size: 18px;
    color: #283618;
}
.item p {
    margin: 5px 0;
    font-size: 14;
}
.skills ul {
    list-style: none;
    padding: 0;
}
.skills ul li {
    display: inline-block;
    background: #283618;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
}
.body-project {
    text-align: center;
}